{% extends 'base.html.twig' %}

{% block title %}The Chat Room{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="welcome_page">
                <p>Welcome!</p>
                <p>This is the Chat Room</p>
            </div>
        </div>
    </div>
{% endblock %}
